<!DOCTYPE html>
<html lang="ro">
<head>
  <meta name="description" content="Magazin Machete- galerie."/>
  <title>Magazin Machete - galerie</title>
  <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css"/>
    <link rel="stylesheet" href="/temp/galerie_animata.css" type="text/css"/>
    <%- include("../fragm/head.ejs"); %>
    
</head>

<body>
     
    <%- include("../fragm/header.ejs"); %>
       
  
  <main>
    <h2>Galerie</h2>
    <%- include("../fragm/galerie_statica.ejs"); %>
    <%- include("../fragm/galerie_animata.ejs"); %>
  </main>
    
  
<%- include("../fragm/footer.ejs"); %>
  
    
</body>

</html>